@import "compass/reset";
@import "compass/css3/text-shadow";
@import "compass/css3/border-radius";
@import "compass/typography/vertical_rhythm";

@import "pygments";

@mixin kern {
  text-rendering: optimizeLegibility;
}

$red: #EF4723;
$black: #333;
$blue: #1fa3c4;

$base-font-size: 15px;
$base-line-height: 20px;

/* ========== */
/* = Layout = */
/* ========== */

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  color: $black;
  padding: 40px 50px;
}

/* ======== */
/* = Type = */
/* ======== */

h1, h2, h3, h4 {
  font-weight: bold;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

a {
  &:link {
    color: $blue;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active,
  &:visited {
    color: $blue - #333;
  }
}


/* ========== */
/* = Header = */
/* ========== */

header {
  h1 {
    @include kern;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: $base-line-height * 2;
    margin-top: $base-line-height * 2;
    margin-bottom: $base-line-height * 2;
    color: $red;
  }
}

/* =========== */
/* = Content = */
/* =========== */

article {
  width: 700px;

  h2 {
    font-size: 24px;
    line-height: $base-line-height * 2;
    margin-top: $base-line-height * 1.5;
    margin-bottom: $base-line-height / 2;
  }

  h3 {
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: $base-line-height * 1.5;
    margin-top: $base-line-height * 1.25;
    margin-bottom: $base-line-height / 4;
  }

  pre {
    padding: 8px 10px;
    background: #f9f9f9;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: $base-line-height;
  }

  code {
    font-family: Menlo, Consolas, Courier, monospace;
  }

  p {
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin-bottom: $base-line-height;
  }
}
